@import "../../../../app/shared/components/navbar/navbar.component.scss";

// .col-4{
//     background-color: $bg-primary;
//     width: 30px;
//     display: flex;
//     align-items: center;
// }
// p{
//     color: #fff;
//     font-size: 18px;
//     padding: 10px;
// }

.footerSection{
    background-color: $bg-primary;
    color: #fff;
}
h2{
    font-weight: 400;
    margin-bottom: 0;
}