<!-- <div class="row">
    <div class="col-4">
        <p>
            A matrimony site connects individuals seeking marriage by offering personalized profiles, search filters, and communication tools. 
        </p>
    </div>
    <div class="col-4">
        <p>
            Users can browse potential matches based on preferences like age, religion, and location.
        </p>
    </div>
    <div class="col-4">
        <p>
            The platform fosters meaningful connections, helping people find compatible life partners in a safe and efficient online environment. 
        </p>
    </div>
</div> -->


<div class="row footerSection">
    <div class="col-12">
        <div class="d-flex justify-content-between">
            <div>
                <h2>
                    Services
                    <span>
                        <fa-icon [icon]="faGear"></fa-icon>
                    </span>
                </h2>
                <p>
                    
                    A matrimony site connects individuals seeking marriage by offering personalized profiles, search filters, and communication tools. 
                </p>
            </div>
            <div class="d-flex justify-content-between my-3">
                <div class="mr-3">
                    <span>
                        <fa-icon [icon]="faMagnifyingGlass" class="fa-2x"></fa-icon>
                    </span>
                </div>
               <div class="mx-1">
                <h1 class="mb-0">
                    Preferences
                    
                </h1>
                <p>
                    Users can browse potential matches based on preferences like age, religion, and location.
                </p>
               </div>
            </div>
            <div>
                <h3>
                    <span>
                        <fa-icon [icon]="faHeartCirclePlus"></fa-icon>
                    </span>
                    Connections
                    
                </h3>
                <p>
                    The platform fosters meaningful connections, helping people find compatible life partners in a safe and efficient online environment. 
                </p>
            </div>
        </div>
    </div>
</div>